<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="BlueJeans.Detector.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="BlueJeans.Detector.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
  <userSettings>
    <BlueJeans.Detector.Properties.Settings>
      <setting name="ShowMenulet" serializeAs="String">
        <value>True</value>
      </setting>
    </BlueJeans.Detector.Properties.Settings>
  </userSettings>
  <applicationSettings>
    <BlueJeans.Detector.Properties.Settings>
      <setting name="DetectorDescription" serializeAs="String">
        <value>A service to detect if Blue Jeans App is installed on the client system</value>
      </setting>
      <setting name="HostNameWhiteList" serializeAs="String">
        <value>bluejeans.com,a.bluejeans.com,qa.bluejeansdev.com,a2m.bluejeans.com,a2m.a.bluejeans.com,a2m.qa.bluejeansdev.com,primetime.bluejeans.com,primetime.a.bluejeans.com,a2m.ac1.bluejeansdev.com,a2m.ac11.bluejeansdev.com</value>
      </setting>
      <setting name="Port" serializeAs="String">
        <value>18171</value>
      </setting>
      <setting name="HockeyAppKey" serializeAs="String">
        <value>849de2cb9a4d488bb260ff0600026d1b</value>
      </setting>
      <setting name="IsLoggingEnabled" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="LoggingProvider" serializeAs="String">
        <value>LOG4NET</value>
      </setting>
      <setting name="LoggingUseConfigFile" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="LoggingAutoFlush" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="LoggingLevel" serializeAs="String">
        <value>INFO</value>
      </setting>
      <setting name="LoggingOutputDirectory" serializeAs="String">
        <value />
      </setting>
      <setting name="LoggingOutputFileNameDetector" serializeAs="String">
        <value>BlueJeans-Win-Detector.log</value>
      </setting>
      <setting name="LoggingConfigDirectory" serializeAs="String">
        <value />
      </setting>
      <setting name="LoggingConfigFileName" serializeAs="String">
        <value />
      </setting>
      <setting name="LoggingOutputFileNameWatcher" serializeAs="String">
        <value>BlueJeans-Win-Detector-Watcher.log</value>
      </setting>
    </BlueJeans.Detector.Properties.Settings>
  </applicationSettings>
  <log4net>
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%utcdate{yyyy-MM-ddTHH:mm:ss:ffff} | %-3thread | %-7level | %logger | --&gt; %message %newline" />
      </layout>
    </appender>
    <appender name="DebugAppender" type="log4net.Appender.DebugAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%utcdate{yyyy-MM-ddTHH:mm:ss:ffff} | %-3thread | %-7level | %logger | --&gt; %message %newline" />
      </layout>
    </appender>
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <threshold value="All" />
      <file />
      <appendToFile value="true" />
      <rollingStyle value="Composite" />
      <MaximumFileSize value="10MB" />
      <MaxSizeRollBackups value="10" />
      <PreserveLogFileNameExtension value="True" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%utcdate{yyyy-MM-ddTHH:mm:ss:ffff} | %-3thread | %-7level | %logger | --&gt; %message %newline" />
      </layout>
    </appender>
    <root>
      <level value="Info" />
      <appender-ref ref="RollingLogFileAppender" />
      <appender-ref ref="ConsoleAppender" />
      <!--<appender-ref ref="DebugAppender" />-->
    </root>
  </log4net>
</configuration>
