<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="BlueJeans.AppUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Reactive.Core" publicKeyToken="94bc3704cddfc263" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.3000.0" newVersion="3.0.3000.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="BlueJeans.Windows.Common" publicKeyToken="3af6eaa0339e5fd9" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.19.0" newVersion="1.0.19.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" /></startup><userSettings>
    <BlueJeans.AppUI.Properties.Settings>
      <setting name="ShareAudioPulseAnimationEnabled" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ShareComputerSound" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ShareVideoPulseAnimationEnabled" serializeAs="String">
        <value>True</value>
      </setting>
    </BlueJeans.AppUI.Properties.Settings>
  </userSettings>
</configuration>
