<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <userSettings>
        <BlueJeans.Properties.Settings>
            <setting name="Height" serializeAs="String">
                <value>648</value>
            </setting>
            <setting name="Width" serializeAs="String">
                <value>1152</value>
            </setting>
            <setting name="Top" serializeAs="String">
                <value>196</value>
            </setting>
            <setting name="Left" serializeAs="String">
                <value>384</value>
            </setting>
            <setting name="WindowState" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="MainWindowStartupLocation" serializeAs="String">
                <value>Manual</value>
            </setting>
            <setting name="LocationSaved" serializeAs="String">
                <value>True</value>
            </setting>
        </BlueJeans.Properties.Settings>
    </userSettings>
</configuration>